/*general*/
body
{
margin: 0px;
background-color: #ffffff;
color: #000;
}
td
{
font-family: Verdana, Arial;
font-size: 9px;
}
table
{
border-collapse: collapse;
border: 0 0 0 0;
}
img
{
border: 0;
}
.hide
{
display: none;
}
a
{
text-decoration: none;
color: #003399;
}
a:hover
{
text-decoration: underline;
color: #ff3300;
}
/*listas*/
.tituloListas {
	font-size: 10px;
	vertical-align: middle;
	padding: 2px;
	background-color: #F5F5F5;
}
.tituloCorte {
	font-weight: bolder;
	vertical-align: middle;
	padding: 2px;
	background-color: buttonface;
	color: buttontext;
}
.listaNon { background-color:#FFFFFF; vertical-align:middle; padding-left:5px; }
.listaPar { background-color:#FAFAFA; vertical-align:middle; padding-left:5px; }
.listaParSel,.listaNonSel { background-color:#E4E8F3; vertical-align:middle; padding-left:5px; }

.listaNon * , .listaPar * { overflow:hidden; x-white-space:nowrap; }

.listaCorte {font-weight: bold; background-color: #F5F5F5; vertical-align: middle; padding-top: 1px; padding-bottom: 1px}
.listaSimple {
	border-color: black black #CCCCCC;
	text-indent: 15px;
	vertical-align: middle;
	border-style: inset;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
.listaCorteSimple {  font-weight: bold; border-color: black black #999999; border-style: inset; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
/*styleshoeetnew*/
a.bottom {
	color: #ffffff;
	text-decoration: none;
	font-weight: none;
}
a:hover.bottom {
	color: #3399CC;
	text-decoration: none;
	font-weight: none;
}
a.top {
	color: #666666;
	text-decoration: none;
	font-weight: none;
}
a:hover.top {
	color: #999999;
	text-decoration: none;
	font-weight: none;
}
a.conte {
	color: #2B3C6E;
	text-decoration: none;
	font-weight: none;
}
a:hover.conte {
	color: #FF0000;
	text-decoration: none;
	font-weight: none;
}
a.conte2 {
	color: #FF0000;
	text-decoration: none;
	font-weight: none;
}
a:hover.conte2 {
	color: #2B3C6E;
	text-decoration: none;
	font-weight: none;
}
a.conte3 {
	color: #ffffff;
	text-decoration: none;
	font-weight: none;
}
a:hover.conte3 {
	color: #003366;
	text-decoration: none;
	font-weight: none;
}
table.marco {
	border: 1px solid #000000;
}
.box {
	background-color: FFFFE5;
}
.linea {
	background-repeat: repeat-x;
	background-position: center;
	background-image: url(images/linea.jpg);


}
.fondo {
	background-image: url(images/fotocontacto.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: scroll;
}
.linea2 {
	background-image: url(images/temp/linea.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}