@charset "utf-8";
/*Modulos*/
.Modulo{
  border: 1px solid #0079C1;
  text-align:center;
  margin:2%;
  cursor:pointer;
  border: none;
  background-color: #dee7e5;
}
.Modulo-Sistema{
	border: 1px solid #656565;
    text-align: center;
}
.Modulo-Sistema img{
 width: 100%;
  height: 100%;
}
.logoSistema{
	text-align:center;
}
.opciones-Modulo{
	text-align:left;
	margin-bottom: .5em;
	padding-left:.5em;
}

.Modulo-SistemaInfo{
	border: 1px solid #0079C1;
	margin-top:7%;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.Modulo-SistemaInfoTitle{
	text-align:center;
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.Modulo-SistemaInfoContaier{
	text-align:justify;
	text-justify:inter-word;
	padding: 6%
}

.flotante{
	position: fixed;
	top: 0;
	margin: 0;
	margin-top:2%;
	border: 1px solid #0079C1;
	width:10%;
}
.IconFont{
	font-size:7em;
	color:#656565;
}
.IconFont:hover{ 
	color:#54b3c6;
}
.ModuloFather{
	margin-bottom: .2em;
	margin-top: .2em;
}
.Modulo-icon{
	padding-right:0px;
	padding-right:0px;
	background-color:#F5F5F5;
	margin-bottom: -1em;
}
.Modulo-Label{
	padding-right:0px;
	padding-left:0px;
	padding-top:1em;
	padding-bottom:1em;
	font-weight:bold;
	background-color:#656565;
	color:#FFFFFF;
	text-align:center;	
	 cursor: default;
}
.Modulo-Up{
	border-left:  12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #656565;
	margin: 0 auto 0 auto;
	width: 0;
	height: 0;
}
.ModuloGroup{
  text-align:center;
  margin:2%;
  cursor:default;
  margin-bottom: -30em;
  padding-bottom: 30em;
}
.ModuloGroup-icon{
	padding-right:0px;
	padding-right:0px;
	margin-bottom: -1em;
}

.ModuloGroup-label{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	background-color: #656565;
	color: #FFFFFF;
	text-align: center;	
	cursor: default;
}
.ModuloGroup-label span{
	top: -1.8em;
	position: relative
}
.IconFontGroup{
	font-size: 5em;
	color:#fff;
}
.ModuloGroup-label .IconFontGroup{
	font-size: 5em;
	color:#fff;
}
.IconFontGroup{
	font-size: 3em;
	color:#0079C1;
}

.ModuloGroup ul {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
}
.ModuloGroup ul li {
  display: inline-block;
  width: 100%;
}
.ModuloGroup ul li a {
  display: block;
  position: relative;
  color: #656565;
  text-decoration: none;
  vertical-align: center;
}
.ModuloGroup ul li:hover{
	background-color:#428bca;
  color: #fff;
}

.ModuloGroup ul li:hover > a i {
  background-color:#54b3c6;
  color: #fff;
} 
.ModuloGroup ul li:hover > a{
  background-color:#428bca;
  color: #fff;
}
.ModuloGroup ul li a i {
  float: left;
  vertical-align: center;
}
.ModuloGroup ul li a span {
  float: left;
  padding:0;
  width:100%;
  text-align:left;
}