
	.navbar {background-color:#666666; margin-bottom:4px;}
	.style9 {color: #003399}
	.style19 {color: #003399; font-size: 12px; }
	.style24 {font-size: 12px}
	.style25 {font-family: Arial, Helvetica, sans-serif}
	.style30 {font-size: 10px}
	.style32 {color: #626262}
	.style34 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
	.style36 {font-size: 10px; color: #003399;}
	.style37 {font-size: 10px; color: #626262;}
	.style40 {font-size: 12px; color: #626262; }
	.style59 {	color: #003399;
		font-weight: bold;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.style14 {
		color: #003399;
		font-family: Arial;
		font-size: 14px;
		font-style: normal;
		font-weight: lighter;
	}
	.style19 {color: #003399; font-size: 12px; }
	.style24 {font-size: 12px}
	.style25 {font-family: Arial, Helvetica, sans-serif}
	.style30 {font-size: 10px}
	.style32 {color: #626262}
	.style34 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
	.style36 {font-size: 10px; color: #003399;}
	.style37 {font-size: 10px; color: #626262;}
	.style40 {font-size: 12px; color: #626262; }
	.style59 {	color: #003399;
		font-weight: bold;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
.style60 {
	color: #006699;
	font-weight: bold;
}
.style61 {color: #3366CC}
.style62 {color: #3366CC; font-weight: bold; }