/**
 * Los botones se clasifican como uno de los siguientes tipos:
 *   Corrientes:  Botones comunes a los catalogos y registros.
 *   Acciones:    Botones que realizan un proceso o acción especial en la base de datos.
 *   Navegacion:  Botones que no afectan la base de datos, solamente navegan en el portal.
 *
 * Para cada uno de estos tipos se establecen distintos selectores que permiten
 * personalizar en cada plantilla la apariencia de estos botones, posiblemente con
 * iconos especializados.
 *   Corrientes:  guardar, eliminar, nuevo, filtrar, limpiar
 *   Acciones:    aplicar, email, publicar
 *   Navegacion:  detalle, anterior, siguiente
 *
 *
 * En el estilo "anterior" se engloban los botones de Regresar, Cancelar, Ir a lista, etc.
 */

label {
	font-style:oblique;
	font-stretch:ultra-condensed;
	font-weight:bolder;
}

.btnNormal, .btnGuardar, .btnEliminar, .btnNuevo, .btnFiltrar, .btnLimpiar, .btnImprimir, .btnRefresh , btnGuardarOver{
	background-color:#ffffff;
	color:#000000;
}

.btnAplicar, .btnEmail, .btnPublicar {
	background-color:#FFCC99;
	color:#000000;
	font-weight:bold;
}

.btnDetalle, .btnAnterior, .btnSiguiente {
	background-color:#ededed;
	color:#333333;
}

.btnNormal {
	margin-left:5px; margin-right:5px;
	margin-top:2px; margin-bottom:2px;
}
.btnGuardar, .btnEliminar, .btnNuevo, .btnFiltrar, .btnLimpiar,
.btnAplicar, .btnEmail, .btnPublicar, .btnImprimir, .btnRefresh,
.btnDetalle, .btnAnterior, .btnSiguiente, .btnGuardarOver {
	background-repeat:no-repeat;
	background-position:left;
	margin-left:5px; margin-right:5px;
	margin-top:2px; margin-bottom:2px;
	padding-left:18px;
	text-align:center;
}


.btnGuardar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnGuardar.gif);
}
.btnGuardarOver{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnGuardar.png);
}
.btnEliminar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnEliminar.gif);
}
.btnNuevo{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnNuevo.gif);
}
.btnFiltrar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnFiltrar.gif);
}
.btnLimpiar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnLimpiar.gif);
}
.btnImprimir{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnImprimir.gif);
}
.btnRefresh{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnRefresh.gif);
}

.btnAplicar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnAplicar.gif);
}
.btnEmail{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnEmail.gif);
}
.btnPublicar{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnPublicar.gif);
}



.btnDetalle{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnDetalle.gif);
}
.btnAnterior{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnAnterior.gif);
}
.btnSiguiente{
	background-image:url(/cfmx/plantillas/soinasp01/css/images/btnSiguiente.gif);
}
