/* sif.css */
body {
	font-size: smaller;
	color: #000000;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.titulo {  font-weight: bolder; text-align: center; vertical-align: middle; font-size: small;}
.subTitulo {  font-weight: bold; border-color: black black #CCCCCC; border-style: inset; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.etiqueta {  text-transform: capitalize}
.texto {  background-color: #F5F5F5; border: 1px #DFDFDF inset; text-align: justify; vertical-align: middle; text-indent: 5px}
.liga {
	font-style: normal;
	white-space: nowrap;
	font-size: xx-small;
}
td {  font-size: xx-small; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal}
a {
	color: #000000;
}
.listaNon { background-color:#FFFFFF; vertical-align:middle; }
.listaPar { background-color:#FAFAFA; vertical-align:middle; }
.listaNon * , .listaPar * { overflow:hidden; white-space:nowrap; }
.listaParSel,.listaNonSel { background-color:#E4E8F3; vertical-align:middle; padding-left:5px;}

.listaCorte {font-weight: bold; background-color: #F5F5F5; vertical-align: middle; padding-top: 1px; padding-bottom: 1px}
.listaSimple {
	border-color: black black #CCCCCC;
	text-indent: 15px;
	vertical-align: middle;
	border-style: inset;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
.listaCorteSimple {  font-weight: bold; border-color: black black #999999; border-style: inset; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
input {  background-color: #FAFAFA; font-size:  xx-small}
select {  background-color: #FAFAFA; font-size: xx-small}
textarea {  background-color: #FAFAFA; font-size: 11px}
.superTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}
.caja {
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: gray;
	border-right-color: gray;
	border-bottom-color: gray;
	border-left-color: gray;
}
a:hover {
	color: #FF0033;
}
.menuOpcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-variant: small-caps;
	text-transform: capitalize;
	background-color: #F5F5F5;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	margin: 4px;
	color: #000000;
	border-bottom: 2px inset #CCCCCC;
	font-weight: bold;
}
.tituloAlterno {
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	font-size: small;
	padding: 2px;
	background-color: #F5F5F5;
}
.tituloEncab { 
	font-weight: bolder;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	padding: 2px;
	background-color: #F5F5F5;
}
.area {  font-weight: bold; background-color: #F5F5F5; vertical-align: middle; padding-top: 1px; padding-bottom: 1px}
.EncabLista {
	font-size: 14px;
	font-style: normal;
	color: #FFFFFF;
	background-color: #ADADCA;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.superSubTitulo {
	font-size: 125%;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	vertical-align: middle;
}

.columna{
    padding-left: 5;
}
.tituloListas {

	font-weight: bolder;
	vertical-align: middle;
	padding: 2px;
	background-color: #F5F5F5;
}

.ayuda {
	background-color: #EEEEEE;
	border: thin solid #000000;
}

.areaFiltro {  
 background-color:#E8E8E8; 
 border-style: solid; 
 border-width: 1px; 
 padding: 1px;
 border-top: 1px solid buttonshadow;
 border-left: 1px solid buttonshadow;
 border-right: 1px solid buttonshadow;
 border-bottom: 1px solid buttonshadow;
 color: #000000;
}

.tituloMantenimiento {
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	font-size: small;
	padding: 2px;
	background-color: #F5F5F5;
	border: 1px solid buttonshadow;
}
.tabSelected {
	background-color: white;
	font-weight: bolder;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 0px solid black;
	border-left: 1px solid black;
}

.tabNormal {
	background-color: #ADADCA;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #FFFFFF;
}

.tabContent {
	background-color: white;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

.fileLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	padding-right: 10px;
}

.tituloProceso {
	font-family: "Times New Roman", Times, serif;
	font-size: 15pt;
	font-variant: small-caps;
	font-weight: bolder;
	padding-left: 20px;
}

.tituloIndicacion {
	font-size: 10pt;
	font-variant: small-caps;
	background-color: #CCCCCC;
}

/* sif2.css */

.tituloListas2 {
	font-weight: bolder;
	vertical-align: middle;
	padding: 2px;
	background-color: #ECECEC;
}

.pageEnd {
	page-break-before:always;
}

/* sif3.css */
.textoSIF3 {
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
}
.tituloSeccion {
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	padding: 2px;
	font-weight: bold;
}
.etiquetaProgreso {
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
}

/* lista.css */
.tituloCorte {
	font-weight: bolder;
	vertical-align: middle;
	padding: 2px;
	background-color: buttonface;
	color: buttontext;
}

/* estilos.css */

.cajasinborde {
	border: 0px none;
	background-color: #F5F5F5;
	font-weight:bold
	font 

}
.cajasinbordeb {
	border: 0px none;
	background-color: #FFFFFF;

}


.navbar {background-color:#666666; margin-bottom:4px;}
table.navbar {background-color:#dfdfdf; margin-bottom:0px;}
table.navbar * {color:#000000;}



<!--- estilos propios del chunche del portal --->


.toprightitems {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.tabs, .tabs *{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	background-color:#f0f0f0;
}
.tabsel, .tabsel * {
	background-color:#333399;
	color:white;
	font-weight:bold;
	text-align:center;
}
.tabnor, .tabnor * {
	background-color:#ccc;
	color:black;
}
.menutable {
	border-bottom:1px solid black;
	background-color:#F0F0F0;
	}
div.menutable {
	width:101px;
	overflow:hidden; white-space:nowrap;
	}
.menutable * {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:navy;
	}
.menutablesel * {
	background-color:navy;
	color:white;
	font-weight:bold;
	}
body{margin:0}
.titulo_sistema_actual {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
}
