@charset "UTF-8";
/* CSS Document */

.body {
/*    background:url("../images/bg.jpg") repeat scroll 0 0 transparent;*/
	background-color:#CCC;
    height:100%;
    margin:0;
}
.copy
{
font-family:calibri;
font-size:12px;
text-decoration:none;
/*color:#ffffff;*/
}
.html
{
height:100%;	
}

.login {
    display: block;
    height: 188px;
    margin: 0 auto;
    margin-top: 12%;    width: 600px;
}

.linea {
    border-left: 1px solid #FFFFFF;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    height: 134px;
    margin: 0 25px;
    width: 11px;
}
.login h1 {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 33px;
    margin-top: 27px;
	margin-bottom:5px;
	font-weight:normal
}
.login h2
{
color:#F1F2F2;
font-family:Helvetica,Arial,sans-serif;
font-size:27px;
font-weight:normal;
margin-top:0px
}
.form
{margin-top:14px;}
.form input[type="text"], .form input[type="password"]
{
width:193px;
height:28px;
border:1px solid #6D6E71;
font-family:calibri;
font-size:16px;
padding-left:6px;
color:#666;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
outline:none

}

.form input[type="text"]:focus, .form input[type="password"]:focus
{

-moz-box-shadow: 2px 2px 6px #333333;
-webkit-box-shadow: 2px 2px 6px #333333;
}
.form input[type="submit"]
{
width:97px;
height:31px;
background:#27AAE1;
font-family: Helvetica,Arial,sans-serif;
font-size:13px;
display:block;
color:#ffffff;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border:none;
text-transform:uppercase;
cursor:pointer;

}

.logo {
    bottom: 50px;
    display: block;
    position: fixed;
    width: 100%;
}