body { font-size:10px;font-family :  Verdana, Arial, Helvetica, sans-serif;}
input, select {
	color : #000000;
	font-size : 8pt;
	font-family : Tahoma,Verdana,Arial;
}
tda {
	color : #000000;
	font-size : 8pt;
	font-family : Tahoma,Verdana,Arial;
}
div {
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 2px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px5 {
	padding-top : 5px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 5px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.menu {
	color : #FFFFFF;
	margin-top : 9px;
	padding-bottom : 9px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.menu a {
	color : #FFFFFF;
	text-decoration: none;
}
.menu a:hover {
	color : #F2F2F2;
}
.title01 {
	color : #FFFFFF;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.title02 {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-left : 5px;
	margin-right : 5px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.title02 a {
	color : #000000;
	text-decoration: none;
}
.right {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 5px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right a {
	color : #EF6D00;
}
.right a:hover {
	color : #000000;
}
.left {
	color : #200D81;
	margin-top : 10px;
	padding-bottom : 10px;
	margin-bottom : 10px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.left a {
	color : #200D81;
}
.left a:hover {
	color : #000000;
}
li {
	color : #000000;
	margin-top : -1px;
	padding-bottom : -1px;
	margin-bottom : -1px;
	margin-right : 1px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
ul, ol {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p a {
	color : #294A7B;
}
p a:hover {
	color : #000000;
}
.bar01 {
	color: #OOOOOO;
	margin-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 20px;
	font-size: 18px;
	font-family: Arial,Tahoma,Verdana;
	font-weight: bold;
}
.bot {
	color : #000000;
	margin-top : 20px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 200px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.bot a {
	color : #000000;
	text-decoration: none;
}
.bot a:hover {
	color : #294A7B;
}
.etiqueta {
	font-family: Arial,Tahoma,Verdana;
	font-size : 8pt;
	font-style: normal;
	font-weight: bold;
	padding-right: 10px;
}

.plantillaMenuhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.plantillaMenuhablada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.plantillaMenutitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.plantillaMenuAnterior {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.OpcionOn {
	width:25px;
	height:25px;
	background-image: url(../../imagenes/menues/opcion_small_On.gif);
	background-repeat: no-repeat;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.TitleOn {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}
.OpcionOff {
	width:25px;
	height:25px;
	background-image: url(../../imagenes/menues/opcion_small.gif);
	background-repeat: no-repeat;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.TitleOff {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.Description {
	padding: 0px 0px 12px;
	color: #000000;
}
