[Server:websdc]
Http Server Name=10.7.7.162
Http Post Acceptor=/scripts/cpshost.dll?PUBLISH
Http Port Num=80
Dest Path=/
Overwrite Prompt=0
MutiUserSupport=0
Republish All=0
File Check=0
Connection Type=4
