/* Estilo de la plantilla */
body {
	margin:0;
}
a { text-decoration:none;color:black; }
a:hover { text-decoration:underline;color:black; }

/* selectores usados en la plantilla */
.iconoTop {
}
.logoTop  {	
}

.iconoSistema {
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	background-image:url(../images/01-02.jpg);
	background:no-repeat;
	text-align:center;
	cursor:pointer;
}
.iconoSistema a {
	display:block;
	background-repeat:no-repeat;
	width:44px;
	height:39px;
}
.iconoSistema a:hover {
	background-position: 0 -39px;
	cursor:pointer;
}

.iconoUsuario {
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	background:no-repeat;
}

.iconoPreferencias, .iconoPreferencias a {
	font-size: 10px;
	font-weight:normal;
	color: #666666;
	text-align: center;
	vertical-align: baseline;
}

.BarraNavegacion {
	font-size: 10px;
}

.TituloModulo {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #006699;
}
