/* CSS Document */

/* colores en: styles.css */
ROSADO { color:#ffc0dd; background-color:#ffe0eb; color:#ffe7f0; color:#ffd2ff }
.listaNon { background-color:#FFFFFF; }
.listaPar { background-color:#ffe7f0; }
.listaParSel, .listaNonSel { background-color:#ffc0dd; }
.listaCorte   { background-color: #ffc0dd; }
.tituloListas {	background-color: #ffaacc; }
.tituloAlterno {
	background-color:#FFECF5;
}
table.navbar, table.navbar a {
	background-color:#ffe7f0;
	color:#60004B;
}
table.navbar .navbig, table.navbar .navbig a {
	color:#C1009B;
}
table.navbar .navlast, table.navbar .navlast a {
	color:black;
}
.errormsg {
	color:#993300;
}


/* colores en tabs.css*/
/**
 * Funcionalidad de los tabs
 */
.tab_sel_l { background-image:url(/cfmx/plantillas/soinasp01/css/rosa/tabs/sel_l.gif);height:21px;}
.tab_sel_m { background-image:url(/cfmx/plantillas/soinasp01/css/rosa/tabs/sel_m.gif);height:21px;cursor:pointer;}
.tab_sel_r { background-image:url(/cfmx/plantillas/soinasp01/css/rosa/tabs/sel_r.gif);height:21px;}
.tab_contents { background-color:#fff3f7; }

/* colores en template.css */
.iconoTop {
	background:url(/cfmx/plantillas/soinasp01/css/rosa/images/02-01b.jpg);
	background-repeat: repeat-x;
}
.logoTop  {	
	background:url(/cfmx/plantillas/soinasp01/css/rosa/images/logo2.gif);
	background-repeat: no-repeat;
}
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* colores en mlm_menu.css */
.mlm_layer {
	background-color:#ffaacc;
}
.mlm_topbar {
	background-color:#ffaacc;
}
.mlm_topsel  {
	background-color:#ff7799;
}
.mlm_item, .mlm_item * {
	color:black;
}
.mlm_sel, .mlm_sel * {
	background-color:#ff7799;
	color:black;
}
/* colores en leftmenu.css */
.cfmenu_titulo {
	background-color: #ffd2ff; 
}
.cfmenu_titulo a {
	color: #C1009B; 
}
.cfmenu_menu, .cfmenu_submenu {
	background-color: #ffe7f0;
}
.cfmenu_menu a, .cfmenu_submenu a {
	color: #C1009B;
}
.cfmenu_bottom {
	background-image:url(/cfmx/plantillas/soinasp01/css/rosa/images/menubottom.gif);
	background-position:right;
	background-repeat:no-repeat;
	background-color:#ffe7f0;
}

/* nuevos menus */
.imagen_sistema {
	padding-top: 2px;
	padding-bottom: 1px;
	color: #f982ba;
	font-weight:bold;
	text-decoration:none;	
}


/* kitar*/
.menu_letra_prin{	font:Arial, Helvetica, sans-serif;
					font-size:16px;
					font-weight:bold;
} 
.menu_letra_titulo{	font:Arial, Helvetica, sans-serif;
					font-size:18px;
					font-weight:bold;
					border-bottom:thin;
					border-bottom-style:solid;
} 

.menu_link { text-decoration:none;color:#003268;
			 font:Arial, Helvetica, sans-serif;
			 font-size:16px;
			 font-weight:bold;
 }
.menu_link:hover { text-decoration:underline;
}

.menu_letra_sec{	font:Arial, Helvetica, sans-serif;
					font-size:10px;
					font-weight:bold;
					color: #f988b0;
} 

.menu_letra_opc{	font:Arial, Helvetica, sans-serif;
					font-size:10px;
					font-weight:bold;
					color:#FFFFFF;
					background-color: #f988b0;
} 

.menu_imagen_padding { padding-left: 10px; }

.menu_tabla_sec{ background-color:#fef2f6; 
				 border:#f988b0 thin solid; }
.menu_flecha{ background:url(/cfmx/plantillas/soinasp01/css/rosa/images/flecha.gif);
			  background-repeat: no-repeat;
			  background-position:center; }


