/**
 * Portlets
 * se contemplan cinco tipos de portlet:
 *  - portlet_*
 *  - portlet_bold_*
 *  - portlet_light_*
 *  - portlet_mini_*
 *  - portlet_box_*
 */

/* normal */
/*td.portlet_thleft img {
	visibility:hidden;
}*/
.portlet_thleft {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/blue_t.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_thcenter {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/blue_t.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_thright{
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/blue_tr.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_thleft, .portlet_thright, .portlet_thcenter {
	background-color:#6e6e6e;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;	
}
.portlet_tfleft, .portlet_tfright, .portlet_tfcenter {
	background-color:#6e6e6e;
	height:2px;
}
.portlet_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6e6e6e;
	border-right-color: #6e6e6e;
	border-bottom-color: #6e6e6e;
	border-left-color: #6e6e6e;
}


/* bold */
/*td.portlet_bold_thleft img {
	visibility:hidden;
}*/
.portlet_bold_thleft {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/boldblue_t.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_bold_thcenter {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/boldblue_t.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_bold_thright {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/boldblue_tr.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_bold_thleft, .portlet_bold_thcenter, .portlet_bold_thright {
	background-color:#595959;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff; 
	font-weight:bold;
	text-decoration:none;
}
.portlet_bold_tfleft, .portlet_bold_tfright, .portlet_bold_tfcenter {
	background-color:#595959;
	height:1px;
}
.portlet_bold_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #595959;
	border-right-color: #595959;
	border-bottom-color: #595959;
	border-left-color: #595959;
}


/* light */
/*td.portlet_light_thleft img {
	visibility:hidden;
}*/
.portlet_light_thleft {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/lightblue_t.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_light_thcenter {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/lightblue_t.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_light_thright {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/lightblue_tr.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_light_thleft, .portlet_light_thcenter, .portlet_light_thright {
	background-color:#a2a2a2;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff; 
	font-weight:bold;
	text-decoration:none;	
}
.portlet_light_tfleft, .portlet_light_tfright, .portlet_light_tfcenter {
	background-color:#a2a2a2;
	height:1px;
}
.portlet_light_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a2a2a2;
	border-right-color: #a2a2a2;
	border-bottom-color: #a2a2a2;
	border-left-color: #a2a2a2;
}


/* mini */
td.portlet_mini_thleft img {
	visibility:hidden;
}
.portlet_mini_thleft {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/miniblue_t.gif);
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_mini_thcenter {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/miniblue_t.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_mini_thright {
	background-image: url(/cfmx/plantillas/soinasp01/css/gris/portlet/miniblue_tr.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_mini_thleft, .portlet_mini_thcenter, .portlet_mini_thright {
	background-color:#595959;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ffffff; 
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}
.portlet_mini_tfleft, .portlet_mini_tfright, .portlet_mini_tfcenter {
	background-color:#595959;
	height:0px;
}
.portlet_mini_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #595959;
	border-right-color: #595959;
	border-bottom-color: #595959;
	border-left-color: #595959;
}


/* box */
.portlet_box_thleft, .portlet_box_thright, .portlet_box_thcenter {
	display:none;
}
.portlet_box_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a2a2a2;
	border-right-color: #595959;
	border-bottom-color: #595959;
	border-left-color: #a2a2a2;
}
