/**
 * Portlets
 * se contemplan cinco tipos de portlet:
 *  - portlet_*
 *  - portlet_bold_*
 *  - portlet_light_*
 *  - portlet_mini_*
 *  - portlet_box_*
 */

/* normal */
/*td.portlet_thleft img {
	visibility:hidden;
}*/
.portlet_thleft {
	background-image: none;
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_thcenter {
	background-image: none;
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_thright{
	background-image: none;
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_thleft, .portlet_thright, .portlet_thcenter {
	background-color:#336699;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff;
	font-weight:bold;
	font-family:Tahoma,Geneva,sans-serif; 
	text-decoration:none;	
}
.portlet_tfleft, .portlet_tfright, .portlet_tfcenter {
	background-color:#003399;
	height:2px;
}
.portlet_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003399;
	border-right-color: #003399;
	border-bottom-color: #003399;
	border-left-color: #003399;
}


/* bold */
/*td.portlet_bold_thleft img {
	visibility:hidden;
}*/
.portlet_bold_thleft {
	background-image: none;
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_bold_thcenter {
	background-image: none;
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_bold_thright {
	background-image: none;
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_bold_thleft, .portlet_bold_thcenter, .portlet_bold_thright {
	background-color:#325B84;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff; 
	font-weight:bold;
	font-family:Tahoma,Geneva,sans-serif; 
	text-decoration:none;
}
.portlet_bold_tfleft, .portlet_bold_tfright, .portlet_bold_tfcenter {
	background-color:#325B84;
	height:1px;
}
.portlet_bold_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #325B84;
	border-right-color: #325B84;
	border-bottom-color: #325B84;
	border-left-color: #325B84;
}


/* light */
/*td.portlet_light_thleft img {
	visibility:hidden;
}*/
.portlet_light_thleft {
	background-image: none;
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_light_thcenter {
	background-image: none;
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_light_thright {
	background-image: none;
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_light_thleft, .portlet_light_thcenter, .portlet_light_thright {
	background-color:#8DA4BB;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #ffffff; 
	font-weight:bold;
	font-family:Tahoma,Geneva,sans-serif; 
	text-decoration:none;	
}
.portlet_light_tfleft, .portlet_light_tfright, .portlet_light_tfcenter {
	background-color:#8DA4BB;
	height:1px;
}
.portlet_light_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8DA4BB;
	border-right-color: #8DA4BB;
	border-bottom-color: #8DA4BB;
	border-left-color: #8DA4BB;
}


/* mini */
td.portlet_mini_thleft img {
	visibility:hidden;
}
.portlet_mini_thleft {
	background-image: none;
	background-repeat:repeat-x;
	background-position:left top;
}
.portlet_mini_thcenter {
	background-image: none;
	background-repeat:repeat-x;
	background-position:top;
}
.portlet_mini_thright {
	background-image: none;
	background-repeat:no-repeat;
	background-position:right top;
}
.portlet_mini_thleft, .portlet_mini_thcenter, .portlet_mini_thright {
	background-color:#547698;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ffffff; 
	font-weight:bold;
	font-size:10px;
	font-family:Tahoma,Geneva,sans-serif; 
	text-decoration:none;
}
.portlet_mini_tfleft, .portlet_mini_tfright, .portlet_mini_tfcenter {
	background-color:#547698;
	height:0px;
}
.portlet_mini_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #547698;
	border-right-color: #547698;
	border-bottom-color: #547698;
	border-left-color: #547698;
}


/* box */
.portlet_box_thleft, .portlet_box_thright, .portlet_box_thcenter {
	display:none;
}
.portlet_box_tdcontenido {
	padding: 2px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8DA4BB;
	border-right-color: #325B84;
	border-bottom-color: #325B84;
	border-left-color: #8DA4BB;
}
