vti_encoding:SR|utf8-nl
vti_author:SR|PC1\\Eduardo
vti_modifiedby:SR|PC1\\Eduardo
vti_timelastmodified:TR|05 Nov 2004 16:17:55 -0000
vti_timecreated:TR|05 Nov 2004 16:17:55 -0000
vti_thicketsupportingfile:BW|true
vti_cacheddtm:TX|05 Nov 2004 16:17:55 -0000
vti_filesize:IR|7716
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{EE42C9B1-0C45-4FA6-9B32-3E019C687C75}
vti_backlinkinfo:VX|humanos/index_archivos/master05.htm humanos/index_archivos/slide0061.htm humanos/index_archivos/slide0063.htm humanos/index_archivos/slide0079.htm humanos/index_archivos/slide0080.htm humanos/index_archivos/slide0081.htm humanos/index_archivos/master04.htm humanos/index_archivos/slide0059.htm humanos/index_archivos/master01.htm humanos/index_archivos/master02.htm
