A  {}

A:Visited  {}

A:Active  {
	font-style : normal;
}

A:Hover  {}

BODY  {
	font-family : Verdana;
	font-weight : bold;
	text-decoration : none;
	color : Black;
	font-size : 10px;
}

.winFamilyMenuItem  {
	BACKGROUND-COLOR : #0099ff;
	BORDER-BOTTOM : #0099ff thin solid;
	BORDER-LEFT : #0099ff thin solid;
	BORDER-RIGHT : #0099ff thin solid;
	BORDER-TOP : #0099ff thin solid;
	COLOR : white;
	CURSOR : hand;
	FONT-SIZE : 8pt;
	FONT-WEIGHT : bold;
	HEIGHT : 20px;
	LETTER-SPACING : -0.5pt;
	MARGIN : 1px;
	PADDING-BOTTOM : 1px;
	PADDING-LEFT : 1px;
	PADDING-RIGHT : 1px;
	PADDING-TOP : 1px;
	WIDTH : 193px;
}

.highlightItem  {
	BACKGROUND-COLOR : #0099ff;
	BORDER-BOTTOM : #003399 thin solid;
	BORDER-LEFT : #99ccff thin solid;
	BORDER-RIGHT : #003399 thin solid;
	BORDER-TOP : #99ccff thin solid;
	COLOR : white;
	CURSOR : hand;
	FONT-SIZE : 8pt;
	FONT-WEIGHT : bold;
	HEIGHT : 20px;
	LETTER-SPACING : -0.5pt;
	MARGIN : 1px;
	PADDING-BOTTOM : 1px;
	PADDING-LEFT : 1px;
	PADDING-RIGHT : 1px;
	PADDING-TOP : 1px;
	TEXT-DECORATION : none;
	WIDTH : 193px;
}

.depressItem  {
	BACKGROUND-COLOR : #0099ff;
	BORDER-BOTTOM : #99ccff thin solid;
	BORDER-LEFT : #003399 thin solid;
	BORDER-RIGHT : #99ccff thin solid;
	BORDER-TOP : #003399 thin solid;
	COLOR : white;
	CURSOR : hand;
	FONT-SIZE : 8pt;
	FONT-WEIGHT : bold;
	HEIGHT : 20px;
	LETTER-SPACING : -0.5pt;
	MARGIN : 1px;
	PADDING-BOTTOM : 1px;
	PADDING-LEFT : 1px;
	PADDING-RIGHT : 1px;
	PADDING-TOP : 1px;
	TEXT-DECORATION : none;
	WIDTH : 193px;
}

.LeftNavOff  {
	BACKGROUND-COLOR : #006699;
	BORDER-BOTTOM : #006699 1px solid;
	BORDER-LEFT : #006699 1px solid;
	BORDER-RIGHT : #006699 1px solid;
	BORDER-TOP : #006699 1px solid;
	COLOR : White;
	CURSOR : hand;
	FONT-FAMILY : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE : 10px;
	FONT-WEIGHT : bold;
	LETTER-SPACING : 0pt;
	PADDING-BOTTOM : 0px;
	PADDING-LEFT : 3px;
	PADDING-RIGHT : 3px;
	PADDING-TOP : 0px;
	TEXT-DECORATION : none;
	WIDTH : auto;
	LINE-HEIGHT : 10pt;
	height : 10px;
	margin : 0px 0px;
}

.LeftNavUp  {
	BACKGROUND-COLOR : #006699;
	BORDER-BOTTOM : #003399 1px solid;
	BORDER-LEFT : #99ccff 1px solid;
	BORDER-RIGHT : #003399 1px solid;
	BORDER-TOP : #99ccff 1px solid;
	COLOR : #ffcc00;
	CURSOR : hand;
	FONT-FAMILY : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE : 10PX;
	FONT-WEIGHT : bold;
	HEIGHT : 0pt;
	LETTER-SPACING : 0pt;
	LINE-HEIGHT : 10pt;
	PADDING-BOTTOM : 0px;
	PADDING-LEFT : 3px;
	PADDING-RIGHT : 3px;
	PADDING-TOP : 0px;
	TEXT-DECORATION : none;
	WIDTH : auto;
	margin : 0px 0px;
}

.LeftNavDown  {
	BACKGROUND-COLOR : #006699;
	BORDER-BOTTOM : #99ccff 1px solid;
	BORDER-LEFT : #003399 1px solid;
	BORDER-RIGHT : #99ccff 1px solid;
	BORDER-TOP : #003399 1px solid;
	COLOR : #ffcc00;
	CURSOR : hand;
	FONT-FAMILY : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE : 10PX;
	FONT-WEIGHT : bold;
	LETTER-SPACING : 0pt;
	LINE-HEIGHT : 10pt;
	PADDING-BOTTOM : 0px;
	PADDING-LEFT : 3px;
	PADDING-RIGHT : 3px;
	PADDING-TOP : 0px;
	TEXT-DECORATION : none;
	height : 0pt;
	margin : 0px 0px;
	width : auto;
}

.LeftNavOn  {
	BACKGROUND-COLOR : white;
	BORDER-BOTTOM : #99ccff 2px solid;
	BORDER-LEFT : #003399 2px solid;
	BORDER-RIGHT : #99ccff 2px solid;
	BORDER-TOP : #003399 2px solid;
	COLOR : #666666;
	FONT-FAMILY : verdana;
	FONT-SIZE : 11px;
	FONT-WEIGHT : bold;
	LETTER-SPACING : -0.5pt;
	LINE-HEIGHT : 10pt;
	MARGIN : 2px 0px;
	PADDING-BOTTOM : 0px;
	PADDING-LEFT : 3px;
	PADDING-RIGHT : 3px;
	PADDING-TOP : 0px;
	TEXT-DECORATION : none;
	WIDTH : 10px;
}

.LeftNavChosen  {
	BACKGROUND-COLOR : white;
	BORDER-BOTTOM : #99ccff 2px solid;
	BORDER-LEFT : #003399 2px solid;
	BORDER-RIGHT : #99ccff 2px solid;
	BORDER-TOP : #003399 2px solid;
	COLOR : #000000;
	CURSOR : hand;
	FONT-FAMILY : verdana;
	FONT-SIZE : 11px;
	FONT-WEIGHT : bold;
	LETTER-SPACING : -0.5pt;
	LINE-HEIGHT : 10pt;
	MARGIN : 2px 0px;
	PADDING-BOTTOM : 0px;
	PADDING-LEFT : 3px;
	PADDING-RIGHT : 3px;
	PADDING-TOP : 0px;
	TEXT-DECORATION : none;
	WIDTH : 10px;
}
.barraboton {
	background-color :  006699;
	border-color :  006699;
	color :  006699;
	border-bottom-color : Black;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-top : 2px solid #B0C4DE;
}
.barraboton1 {
	background-color :  006699;
	border-color :  006699;
	color :  006699;
	border-bottom-color : Black;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-top : 2px solid #B0C4DE;
	border-left-color : White;
	border-left-style : solid;
	border-left-width : 2px;
}

